<% @options = params[:options] || {} %>
<%= semantic_form_for 'options', { :html => { :style => 'width:600px' } } do |f| %>

  <div class="mercury-modal-pane-container">
    <div class="mercury-modal-pane">
      <%= f.inputs do %>
        <%= f.input :first_name, :required => false, :label => 'First Name',
                    :input_html => {:value => @options[:first_name] || 'First Name'} %>
      <% end %>
      <%= f.inputs 'Options' do %>
        <%= f.input :favorite_beer, :required => false, :label => 'Favorite Beer',
                    :input_html => {:value => @options[:favorite_beer] || 'PBR'} %>
      <% end %>
    </div>
  </div>

  <div class="mercury-modal-controls">
    <%= f.buttons do %>
      <%= f.commit_button 'Insert Snippet' %>
    <% end %>
  </div>

<% end %>
