!!!
%html
  %head
    = csrf_meta_tag
    = javascript_include_tag "dependencies/jquery-1.9.1",
                             "dependencies/rangy-core",
                             "dependencies/rangy-cssclassapplier",
                             "dependencies/rangy-serializer",
                             "dependencies/showdown-1.0"
    = javascript_include_tag "mercury.min"
    = javascript_include_tag "regions/html.min",
                             "regions/gallery.min",
                             "regions/image.min",
                             "regions/markdown.min",
                             "regions/plain.min",
                             "regions/text.min"
    = stylesheet_link_tag "mercury.bundle"
    %script jQuery(function() { window.mercury = Mercury.init() })
  %body
    %h1 Mercury2 <a href="/teabag">Specs</a>

    %p
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
      <br/>
      %img(src="http://goo.gl/ZoJd4")
      <br/>
      = link_to('Google Link', 'http://google.com')

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 HTML Regions

    #html1(data-mercury="html")
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy

    %section#html2(data-mercury="html") section
    %p#html3(data-mercury="html") paragraph
    %span#html4(data-mercury="html") span

    %ul
      %li#html5(data-mercury="html") list item

    %table
      %tr
        %td#html6(data-mercury="html") table cell
        %td another table cell

    %h2#plain(data-mercury="plain")
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 Markdown Regions

    #markdown1(data-mercury="markdown" data-region-options='{"name": "markdown_region_1", "allowDirection": true}')
      :preserve
        1
        **something here**
        2

        paragraph1
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy

        paragraph2

        paragraph3

    #markdown2(data-mercury="markdown") Lorem Ipsum is simply dummy text of the printing and typesetting industry.

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 Text Regions

    %h1#text1(data-mercury="text") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
    #text2(data-mercury="text" data-region-options='{"height": 100, "autoSize": false}') Lorem<br/><br/>Testing

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 Image Regions

    %img#image1(data-mercury="image" src="http://goo.gl/CgyJj" width="200")
    %img#image2(data-mercury="image" src="http://goo.gl/CgyJj" width="200")

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 Gallery Region

    #gallery1(data-mercury="gallery")
      .slides
      .paginator

:scss
  .red {
    color: red;
  }
  .blue {
    color: blue;
  }
  .highlight {
    background: yellow;
  }

