!!!
%html
  %head
    = csrf_meta_tag
    = stylesheet_link_tag "mercury", "developer_interface"
    = javascript_include_tag "mercury", "developer_interface", "adding_functionality"
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  %body
    %h1 Mercury2 <a href="/teabag">Specs</a>

    %p
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
      <br/>
      %img(src="http://goo.gl/ZoJd4")
      <br/>
      = link_to('Google Link', 'http://google.com')

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2#new_regions New Regions

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 Markdown Regions

    #markdown1(data-mercury="markdown" data-region-options='{"name": "markdown_region_1", "allowDirection": true}')
      :preserve
        1
        **something here**
        2

        paragraph1
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy

        paragraph2

        paragraph3

    #markdown2(data-mercury="markdown") Lorem Ipsum is simply dummy text of the printing and typesetting industry.

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 HTML Regions

    #html1(data-mercury="html")
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy

    %section#html2(data-mercury="html") section
    %p#html3(data-mercury="html") paragraph
    %span#html4(data-mercury="html") span

    %ul
      %li#html5(data-mercury="html") list item

    %table
      %tr
        %td#html6(data-mercury="html") table cell
        %td another table cell

    %h2#plain(data-mercury="plain")
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 Text Regions

    %h1#text1(data-mercury="text") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
    #text2(data-mercury="text" data-region-options='{"height": 100, "autoSize": false}') Lorem<br/><br/>Testing

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 Image Regions

    %img#image1(data-mercury="image" src="http://goo.gl/CgyJj" width="200")
    %img#image2(data-mercury="image" src="http://goo.gl/CgyJj" width="200")

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 Gallery Region

    #gallery1(data-mercury="gallery")
      .slides
        .slide= image_tag('http://goo.gl/yBRji')
        .slide= image_tag('http://goo.gl/iKIkP')

:scss
  .red {
    color: red;
  }
  .blue {
    color: blue;
  }
  .highlight {
    background: yellow;
  }

:javascript
  // If we're in an an iframe and Mercury is present in the parent we can shortcut the load time by initializing
  // manually. This will tell Mercury that this document has loaded and it can begin looking for regions.
  if (parent.Mercury) parent.Mercury.trigger('initialize')

  // If we're editing this page let's instantiate the developer toolbar for example usage/interactions. The developer
  // toolbar has many examples of how you can interact with Mercury. Also note that if we're in an iframe or not Mercury
  // will be exposed to us after it's been initialized.
  if (Mercury) new DeveloperInterface()
