!!!
%html
  %head
    = csrf_meta_tag
    = stylesheet_link_tag "mercury"
    = javascript_include_tag "mercury"

    = stylesheet_link_tag "styles/examples"
    = javascript_include_tag "developer_interface", "example_snippet", "example_plugin", "example_region", "functionality_adding", "functionality_overriding"

    = javascript_include_tag "http://widgets.twimg.com/j/1/widget.js"
    = stylesheet_link_tag "http://widgets.twimg.com/j/1/widget.css"
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  %body.mercury-transitions
    %h1 Mercury2 <a href="/teabag">Specs</a>

    %p
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
      <br/>
      %img(src="http://goo.gl/ZoJd4")
      <br/>
      = link_to 'Google Link', 'http://google.com'
      = link_to 'DailyJS', 'http://dailyjs.com/'
      = link_to 'DailyJS', 'http://dailyjs.com/', class: 'mercury-ignored'
      = link_to 'Plain Page', '/plain', class: 'mercury-ignored'

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2#new_regions New Regions

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 Snippet Regions

    #snippet1(data-mercury="snippet" data-region-options='{"placeholder": "Drop a snippet on me"}' style="float:left;width:49%")

    %section#snippet2(data-mercury="snippet" style="position:relative;float:right;width:49%")

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 Markdown Regions

    #markdown1(data-mercury="markdown" data-region-options='{"name": "markdown_region_1", "allowDirection": true, "placeholder": "This is a placeholder"}')
      :preserve
        1
        **something here**
        2

        paragraph1
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy

        paragraph2

        paragraph3

    #markdown2(data-mercury="markdown") Lorem Ipsum is simply dummy text of the printing and typesetting industry.

    #markdown_empty(data-mercury="markdown")

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 HTML Regions

    #html1(data-mercury="html") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy

    %section#html2(data-mercury="html") section

    %p#html3(data-mercury="html" style="width:200px;float:right") paragraph

    %span#html4(data-mercury="html" data-region-options='{"placeholder": "Drop a snippet on me"}') span

    %ul
      %li#html5(data-mercury="html") list item

    %table
      %tr
        %td#html6(data-mercury="html") table cell
        %td another table cell

    %span#html_empty(data-mercury="html")

    %h3 Plain HTML Regions

    %h2#plain(data-mercury="plain") Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy

    #plain_empty(data-mercury="plain" data-region-options='{"newlines": true}')

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 Text Regions

    %h3#text1(data-mercury="text" data-region-options='{"wrapping": false}') Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy

    #text2(data-mercury="text" data-region-options='{"height": 100, "autoSize": false}') Lorem<br/><br/>Testing

    #text_empty(data-mercury="text")

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 Image Regions

    %img#image1(data-mercury="image" src="http://goo.gl/CgyJj" width="200")

    %img#image2(data-mercury="image" src="http://goo.gl/CgyJj" width="200")

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2#new_regions Custom Regions

    #button1.button(data-mercury="button") Text Value

    %hr
    -# -----------------------------------------------------------------------------------------------------------------
    %h2 Gallery Region

    #gallery1(data-mercury="gallery")
      .slides
        .slide= image_tag('http://goo.gl/yBRji')
        .slide= image_tag('http://goo.gl/iKIkP')

    EOF

:javascript
  // If we're in an an iframe and Mercury is present in the parent we can shortcut the load time by initializing
  // manually. This will tell Mercury that this document has loaded and it can begin looking for regions. It has to be
  // at the end of the document, or in a dom:loaded handler.
  if (parent.Mercury) {
    parent.Mercury.initialize()
    window.Mercury = parent.Mercury
  }

  // If we're editing this page let's instantiate the developer toolbar for example usage/interactions. The developer
  // toolbar has many examples of how you can interact with Mercury. Also note that if we're in an iframe or not Mercury
  // will be exposed to us after it's been initialized.
  new Mercury.DeveloperInterface()

  // To load snippet options and potentially other information back into mercury for editing you can simply provide the
  // JSON that the server saved. This can be wordy, so you may want to filter some things out of it, but it should work
  // if you don't sanitize the data before loading it back in. This can happen before or after calling Mercury.init and
  // is expected to only happen once.
  //
  // This example shows what can be loaded back into Mercury. Value doesn't need to be provided if you're already
  // rendering it into the page on the server.
  //
  // You'll notice the data-mercury-snippet attribute directly correlates to the snippet cid in the snippets object.
  Mercury.load({
    snippet2: {                                             // the region identifier
      data: {},                                             // you can provide data back to regions
      snippets: {                                           // snippets that this region serialized on save
        c1: {
          cid: 'c1',                                        // cid for the snippet when serialized (same as key)
          name: 'beer',                                     // name of the snippet (type)
          attributes: {                                     // serialized snippet attributes
            name: 'jejacks0n',
            beer: 'French & Belgian-Style Saison'
          }
        },
        c2: {
          cid: 'c2',
          name: 'plugins'
        }
      },
      value: "<div class=\"mercury-beer-snippet\" data-mercury-snippet=\"c1\"><h3>jejacks0n's favorite type of beer is French &amp; Belgian-Style Saison</h3>\n<p>\n  Beers in this category are golden to deep amber in color. There may be quite a variety of characters within this style. Generally: They are light to medium in body. Malt aroma is low to medium-low. Esters are medium to high in aroma, while, complex alcohols, herbs, spices, low Brettanomyces character and even clove and smoke-like phenolics may or may not be evident in the overall balanced beer. Hop aroma and flavor may be at low to medium levels. Malt flavor is low but provides foundation for the overall balance. Hop bitterness is moderate to moderately assertive. Herb and/or spice flavors, including black pepper-like notes, may or may not be evident. Fruitiness from fermentation is generally in character. A balanced small amount of sour or acidic flavors is acceptable when in balance with other components. Earthy, cellar-like, musty aromas are okay. Diacetyl should not be perceived. Chill or slight yeast haze is okay. Often bottle conditioned with some yeast character and high carbonation. French &amp; Belgian-Style Saison may have Brettanomyces characters that are slightly acidity, fruity, horsey, goaty and/or leather-like.\n</p>\n</div><div class=\"mercury-plugin-snippet\" data-mercury-snippet=\"c2\"></div>"
    }
  })
