Content outside the regions

#primary.mercury-region{ 'data-type' => 'editable' }
  123
  %meta{}/
  editable content
  = link_to 'l<span>in</span>k'.html_safe, '/something_else'

  = link_to image_tag('mercury/clippy.png'), '/something_else'
  %table{ border: 1 }
    %tr
      %th TITLE
      %th{ colspan: 5 } TITLE
    %tr
      %th{ colspan: 2 } Head1
      %th{ rowspan: 2 } Head3
      %th Head4
      %th{ rowspan: 4 } Head5
      %th Head6
    %tr
      %td{ colspan: 2 } Column1
      %td Column4
      %td Column6
    %tr
      %td Column1
      %td Column2
      %td Column3
      %td Column4
      %td Column6
    %tr
      %th Head1
      %th Head2
      %th{ rowspan: 2 } Head3
      %th Head4
      %th Head6
    %tr
      %td Column1
      %td Column2
      %td Column4
      %td Column5
      %td Column6
    %tr
      %td{ colspan: 2 } Column1
      %td{ colspan: 4 } Column2

  %p this is a <u>pa<span style="text-decoration:overline">rag</span>raph</u>
  %p this is a <span style="text-decoration:overline">pa<u>rag</u>raph</span>
  %style img { border:2px solid red }

  = image_tag('mercury/clippy.png')
  = link_to 'link', '#link2'
  .mercury-snippet snippet1

  %p
    %a{ :name => 'inner_link1' } Bookmark

  more content here

  %iframe{ :width => "560", :height => "349", :src => "http://www.youtube.com/embed/QGJuMBdaqIw?wmode=transparent", :frameborder => "0", :allowfullscreen => 'true' }

#region2.mercury-region{ 'data-type' => 'editable' }
  .mercury-snippet snippet1

#region3.mercury-region{ 'data-type' => 'editable', :style => 'width:200px;height:90px;' }
  %meta{}/
  editable contentaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  = link_to '/something_else'
  %table
    %tr
      %th Head1
      %th Head2
    %tr
      %td Column1
      %td Column2
  %p this is a <u>pa<span style="text-decoration:overline">rag</span>raph</u>
  %p this is a <span style="text-decoration:overline">pa<u>rag</u>raph</span>

#snippet_region1.mercury-region{ 'data-type' => 'snippetable' }
  .mercury-snippet snippet1
  .mercury-snippet snippet2

#snippet_region2.mercury-region{ 'data-type' => 'snippetable' }
  .mercury-snippet snippet1
  .mercury-snippet snippet2
  %iframe.mercury-snippet{ :width => "560", :height => "349", :src => "http://www.youtube.com/embed/QGJuMBdaqIw?wmode=transparent", :frameborder => "0", :allowfullscreen => 'true' }

= link_to '/something'

%p
  %h3
    %a{ :name => 'link1' } Title 1
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%p
  %h3
    %a{ :name => 'link2' } Title 2
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%p
  %h3
    %a{ :name => 'link3' } Title 3
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%div{ :style => 'min-width:600px' }
  = '--------------'

:plain
  <style>
  .mercury-region { min-height: 10px; outline: 1px dotted #09F }
  .mercury-region:focus, .mercury-region.focus { outline: 0; -webkit-box-shadow: 0 0 10px #09F, 0 0 1px #045; box-shadow: 0 0 10px #09F, 0 0 1px #045 }
  .mercury-region:after { content: '\00a0'; display: block; visibility: hidden; clear: both; height: 0; overflow: hidden; }
  .mercury-snippet { width:200px; height:100px; border: 1px solid red; }
  </style>