= semantic_form_for 'link', { html: { id: 'mercury_link', style: 'width:600px' } } do |f|

  .mercury-modal-pane-container
    .mercury-modal-pane

      = f.inputs id: 'link_text_container' do
        = f.input :text, required: false, label: 'Link Content'

      = f.inputs 'Standard Links' do
        = f.input :external_url, required: false, input_html: { class: 'selectable' },
                  label: '<input name="link_type" type="radio" value="external_url" checked="checked"/>URL'.html_safe

      = f.inputs 'Index / Bookmark Links' do
        = f.input :existing_bookmark, as: :select, required: false, input_html: { class: 'selectable' }, collection: [], include_blank: false,
                  label: '<input name="link_type" type="radio" value="existing_bookmark"/>Existing Bookmarks'.html_safe
        = f.input :new_bookmark, required: false, input_html: { class: 'selectable' },
                  label: '<input name="link_type" type="radio" value="new_bookmark"/>Bookmark'.html_safe

      = f.inputs 'Options' do
        = f.input :target, as: :select, required: false, label: 'Link Target',
                  include_blank: 'Self (the same window or tab)',
                  collection: [['Blank (a new window or tab)', '_blank'], ['Top (removes any frames)', '_top'], ['Popup Window (javascript new window popup)', 'popup']]

        #popup_options.link-target-options{ style: 'display:none' }
          = f.input :popup_width, required: false, label: 'Popup Width'
          = f.input :popup_height, required: false, label: 'Popup Height'

  .mercury-modal-controls

    = f.buttons do
      = f.commit_button 'Insert Link'
