= semantic_form_for 'table', { html: { id: 'mercury_table', style: 'width:700px' } } do |f|

  .mercury-modal-pane-container
    .mercury-modal-pane

      #table_display

        %table{ border: 1, cellspacing: 0 }
          %tr
            %td &nbsp;
            %td &nbsp;
            %td &nbsp;
          %tr
            %td &nbsp;
            %td &nbsp;
            %td &nbsp;

      #table_options
        = f.inputs do
          %li{ class: "select input optional", id: "table_rows_input" }
            %label{ for: "table_rows" } Rows
            %input{ type: 'button', name: 'insertRowBefore', class: 'action', value: 'Add Before' }/
            %input{ type: 'button', name: 'insertRowAfter', class: 'action', value: 'Add After' }/
            %input{ type: 'button', name: 'deleteRow', class: 'action', value: 'Remove' }/
          %li{ class: "select input optional", id: "table_columns_input" }
            %label{ for: "table_columns" } Columns
            %input{ type: 'button', name: 'insertColumnBefore', class: 'action', value: 'Add Before' }/
            %input{ type: 'button', name: 'insertColumnAfter', class: 'action', value: 'Add After' }/
            %input{ type: 'button', name: 'deleteColumn', class: 'action', value: 'Remove' }/
          %hr
          %li{ class: "select input optional", id: "table_row_adjust_input" }
            %label{ for: "table_row_adjust" } Row Span
            %input{ type: 'button', name: 'increaseRowspan', class: 'action', value: '+' }/
            %input{ type: 'button', name: 'decreaseRowspan', class: 'action', value: '-' }/
          %li{ class: "select input optional", id: "table_column_adjust_input" }
            %label{ for: "table_column_adjust" } Column Span
            %input{ type: 'button', name: 'increaseColspan', class: 'action', value: '+' }/
            %input{ type: 'button', name: 'decreaseColspan', class: 'action', value: '-' }/

        = f.inputs 'Options' do
          = f.input :alignment, as: :select, required: false, include_blank: 'None',
            collection: [['Left', 'left'], ['Right', 'right']]
          = f.input :border, required: false, input_html: { value: 1 }
          = f.input :spacing, required: false, input_html: { value: 0 }

  .mercury-modal-controls

    = f.buttons do
      = f.commit_button 'Insert Table'
