= semantic_form_for 'table', { html: { id: 'mercury_table', style: 'width:700px' } } do |f|

  .mercury-modal-pane-container
    .mercury-modal-pane

      #table_display

        %table{ border: 1, cellspacing: 0 }
          %tr
            %td
            %td
            %td
          %tr
            %td
            %td
            %td

      #table_options
        = f.inputs do
          %li{ class: "select input optional", id: "table_rows_input" }
            %label{ for: "table_rows" } Rows
            %input{ type: 'button', name: 'insertrowbefore', class: 'action', value: 'Add Before' }/
            %input{ type: 'button', name: 'insertrowafter', class: 'action', value: 'Add After' }/
            %input{ type: 'button', name: 'deleterow', class: 'action', value: 'Remove' }/
          %li{ class: "select input optional", id: "table_columns_input" }
            %label{ for: "table_columns" } Columns
            %input{ type: 'button', name: 'insertcolumnbefore', class: 'action', value: 'Add Before' }/
            %input{ type: 'button', name: 'insertcolumnafter', class: 'action', value: 'Add After' }/
            %input{ type: 'button', name: 'deletecolumn', class: 'action', value: 'Remove' }/
          %hr
          %li{ class: "select input optional", id: "table_row_adjust_input" }
            %label{ for: "table_row_adjust" } Row Span
            %input{ type: 'button', name: 'increaserowspan', class: 'action', value: '+' }/
            %input{ type: 'button', name: 'decreaserowspan', class: 'action', value: '-' }/
          %li{ class: "select input optional", id: "table_column_adjust_input" }
            %label{ for: "table_column_adjust" } Column Span
            %input{ type: 'button', name: 'increasecolspan', class: 'action', value: '+' }/
            %input{ type: 'button', name: 'decreasecolspan', class: 'action', value: '-' }/

        = f.inputs 'Options' do
          = f.input :alignment, as: :select, required: false, include_blank: 'None',
            collection: [['Left', 'left'], ['Right', 'right']]
          = f.input :border, required: false, input_html: { value: 1 }
          = f.input :spacing, required: false, input_html: { value: 0 }

  .mercury-modal-controls

    = f.buttons do
      = f.commit_button 'Insert Table'
