#header

  .intro
    .logo{ href: '/' } <em>Mercury Editor</em>
    %h1 Finally, managing content is <strong>easy</strong> and <strong>reliable</strong>
    %h2 Mercury is a <strong>full featured</strong> HTML5 editor.  It was built from the ground up to help your team <strong>get the most</strong> out of <strong>content editing</strong> in modern browsers.
    .action
      %a.button.green{ href: 'http://github.com/jejacks0n/mercury', target: '_blank' } Download now
      Download the package.
    .action
      %a.button.blue{ href: '/edit' } Test it out
      Check out all the features.

  %hr/

#intro_content

  #aspects.mercury-region{ data: { type: 'editable' } }
    .aspect.simple
      %h3 Simple
      %p Mercury comes bundled as a Rails Engine, so just include it in your Gemfile.
    .aspect.unobtrusive
      %h3 Unobtrusive
      %p We don't put any code in your page so you're free to use whatever frameworks you want without having to worry.
    .aspect.configurable
      %h3 Configurable
      %p Easily add or remove toolbar items.  Any toolbar item can be tied to an action using behaviors.
    .aspect.extendable
      %h3 Extendable
      %p HTML and Markdown is supported by default, but you can just extend the base regions to build your own types.

  %hr/

  %h2.brief Mercury is built to handle your content needs.

  %hr/

  #primary.mercury-region{ data: { type: 'editable' } }
    %h2 Core features
    %ul
      %li
        %strong Previewing<br/>
        Preview content while you're working to see exactly how it'll look.
      %li
        %strong Link Tools<br/>
        Insert and edit links, including TOC/Bookmark links.
      %li
        %strong Media Tools<br/>
        Insert and edit images, youtube videos, and vimeo videos.
      %li
        %strong Image Uploading<br/>
        Drag images from your desktop and they'll be automatically uploaded and inserted.
      %li
        %strong Table Editing<br/>
        Advanced table editing and creation.
      %li
        %strong Snippets<br/>
        Insert and edit predefined and reusable bits of markup/code using drag and drop.
      %li
        %strong Notes<br/>
        Attach notes to any page and communicate with other content authors.
      %li
        %strong Colaborative Editing<br/>
        Edit any page that others are editing at the same time and see their changes in real time.

    %hr/

    %h2 More information?
    For more information, including all the nerdy details check out the full walkthrough of all the features.
    %div{ style: 'text-align:center' }
      %a.more-info{ href: '/content/walkthrough' } Full walkthrough

  #tech.container.mercury-region{ data: { type: 'editable' } }
    %h2 Mercury was built using
    %a{ href: 'http://jquery.com' }= image_tag('logo-jquery.png', alt: 'jQuery')
    %a{ href: 'http://jashkenas.github.com/coffee-script/' }= image_tag('logo-coffeescript.png', alt: 'CoffeeScript')
    %a{ href: 'http://rubyonrails.org/' }= image_tag('logo-rails.png', alt: 'Ruby on Rails')
    %a{ href: 'http://nodejs.org/' }= image_tag('logo-nodejs.png', alt: 'Node.JS')
    %a{ href: 'http://cukes.info/' }= image_tag('logo-cucumber.png', alt: 'Cucumber BDD')
    %a{ href: 'http://dev.w3.org/html5/spec/Overview.html' }= image_tag('logo-html5.png', alt: 'HTML5')
