#content

  #toc.container
    %h2 Walkthrough Topics

    %h3 General
    %ul
      %li= link_to 'Saving', '#saving'
      %li= link_to 'Previewing', '#previewing'
      %li= link_to 'Undo / Redo', '#undo'
      %li= link_to 'Inserting Links', '#previewing'
      %li= link_to 'Inserting Media', '#media'
      %li= link_to 'Inserting Tables', '#tables'
      %li= link_to 'Special Characters', '#characters'
      %li= link_to 'Inserting Snippets', '#snippets'
      %li= link_to 'Page History', '#versioning'
      %li= link_to 'Page Notes', '#notes'

    %h3 HTML Editing
    %ul
      %li= link_to 'General Notes', '#'

    %h3 Markdown Editing
    %ul
      %li= link_to 'General Notes', '#'

  -##intro.mercury-region{ data: { type: 'editable' } }
  -#  %h1 The walkthrough helps show off Mercurys features in a useful way.
  -#  %h2 Each feature is outlined fully, with all the nitty gritty details.  We'll outline the differences between the different browser, and explain why some things are the way they are.
  -#
  -#%a{ name: 'saving' }
  -#.walkthrough.mercury-region{ data: { type: 'editable' } }
  -#  %h2 Saving
  -#
  -#%a{ name: 'previewing' }
  -#.walkthrough.mercury-region{ data: { type: 'editable' } }
  -#  %h2 Previewing
  -#
  -#%a{ name: 'undo' }
  -#.walkthrough.mercury-region{ data: { type: 'editable' } }
  -#  %h2 Undo / Redo
  -#
  -#%a{ name: 'links' }
  -#.walkthrough.mercury-region{ data: { type: 'editable' } }
  -#  %h2 Inserting Links
  -#
  -#%a{ name: 'media' }
  -#.walkthrough.mercury-region{ data: { type: 'editable' } }
  -#  %h2 Inserting Media
  -#
  -#%a{ name: 'tables' }
  -#.walkthrough.mercury-region{ data: { type: 'editable' } }
  -#  %h2 Inserting Tables
  -#
  -#%a{ name: 'characters' }
  -#.walkthrough.mercury-region{ data: { type: 'editable' } }
  -#  %h2 Special Characters
  -#
  -#%a{ name: 'snippets' }
  -#.walkthrough.mercury-region{ data: { type: 'editable' } }
  -#  %h2 Inserting Snippets
  -#
  -#%a{ name: 'versioning' }
  -#.walkthrough.mercury-region{ data: { type: 'editable' } }
  -#  %h2 Page History
  -#
  -#%a{ name: 'notes' }
  -#.walkthrough.mercury-region{ data: { type: 'editable' } }
  -#  %h2 Page Notes


  #markupable_region1.walkthrough.mercury-region{ data: { type: 'markupable' } }<
    :plain
      ## testing ##

      this is some content

      1. list item 1
      2. list item 2

      **bold** and _italic_

      - - -

      Turkey corned beef ham, chuck ham hock venison drumstick tongue ribeye. Beef tongue pancetta, short ribs meatball headcheese jowl bacon swine t-bone shoulder venison. Hamburger short loin turkey flank short ribs tail. Chicken tri-tip sausage, bresaola sirloin turkey hamburger headcheese shank rump. Pork ground round t-bone, ham hock sirloin biltong chicken fatback pork belly pastrami pancetta jowl tail. Cow ribeye pork chop, flank sirloin tail short loin pork loin chicken boudin pastrami. Boudin chuck shankle, spare ribs pancetta fatback bresaola.

  #editable_region1.walkthrough.mercury-region{ data: { type: 'editable' } }
    123
    %meta{}/
    editable content
    = link_to 'l<span>in</span>k'.html_safe, '/something_else'

    = link_to image_tag('mercury/clippy.png'), '/something_else'
    %table{ border: 1 }
      %tr
        %th TITLE
        %th{ colspan: 5 } TITLE
      %tr
        %th{ colspan: 2 } Head1
        %th{ rowspan: 2 } Head3
        %th Head4
        %th{ rowspan: 5 } Head5
        %th Head6
      %tr
        %td{ colspan: 2 } Column1
        %td Column4
        %td Column6
      %tr
        %td Column1
        %td Column2
        %td{ rowspan: 4 } Column3
        %td Column4
        %td Column6
      %tr
        %td Column1
        %td Column2
        %td Column4
        %td Column6
      %tr
        %th{ rowspan: 2 } Head1
        %th{ rowspan: 2 } Head2
        %th Head4
        %th Head6
      %tr
        %td Column4
        %td Column5
        %td Column6
      %tr
        %td{ colspan: 2 } Column1
        %td{ colspan: 4 } Column2

    a--------
    %table{ border: 1 }
      %tr
        %td 1
        %td{ colspan: 2 } 2
      %tr
        %td{ rowspan: 2 } 3
        %td 4
        %td 5
      %tr
        %td 6
        %td 7


    %table{ border: 1, width: 200 }
      %tr
        %td{ rowspan: 2 } x1
        %td{ rowspan: 2, colspan: 2 } x2
      %tr
      %tr
        %td 1
        %td{ colspan: 2 } 2
      %tr
        %td 3
        %td{ colspan: 2 } 4



    %p this is a <u>pa<span style="text-decoration:overline">rag</span>raph</u>
    %p this is a <span style="text-decoration:overline">pa<u>rag</u>raph</span>
    %style img { border:2px solid red }

    = image_tag 'mercury/clippy.png'
    = link_to 'link', '#link2'
    .mercury-snippet{ data: { snippet: 'snippet_1' }} snippet1

    %p
      %a{ name: 'inner_link1' } Bookmark

    more content here

    %iframe{ width: '560', height: '349', src: 'http://www.youtube.com/embed/QGJuMBdaqIw?wmode=transparent', frameborder: '0', allowfullscreen: 'true' }

  #snippetable_region1.walkthrough.mercury-region{ data: { type: 'snippetable' } }
    .mercury-snippet{ data: { snippet: 'snippet_3' }} snippet3
    .mercury-snippet{ data: { snippet: 'snippet_4' }} snippet4
    .mercury-snippet{ data: { snippet: 'snippet_5' }} snippet5

  #editable_region2.walkthrough.mercury-region{ data: { type: 'editable' } }
    .mercury-snippet{ data: { snippet: 'snippet_2' }} snippet2

  #editable_region3.walkthrough.mercury-region{ style: 'width:200px;height:90px;', data: { type: 'editable' } }
    %meta{}/
    editable contentaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    = link_to '/something_else'
    %table
      %tr
        %th Head1
        %th Head2
      %tr
        %td Column1
        %td Column2
    %p this is a <u>pa<span style="text-decoration:overline">rag</span>raph</u>
    %p this is a <span style="text-decoration:overline">pa<u>rag</u>raph</span>

  #snippetable_region2.walkthrough.mercury-region{ data: { type: 'snippetable' } }
    .mercury-snippet{ data: { snippet: 'snippet_6' }} snippet6
    .mercury-snippet{ data: { snippet: 'snippet_7' }} snippet7
    %iframe.mercury-snippet{ width: '560', height: '349', src: 'http://www.youtube.com/embed/QGJuMBdaqIw?wmode=transparent', frameborder: '0', allowfullscreen: 'true', data: { snippet: 'snippet_8' } }
