= form_for @image do |f|
  -if @image.errors.any?
    #error_explanation
      %h2= "#{pluralize(@image.errors.count, "error")} prohibited this image from being saved:"
      %ul
        - @image.errors.full_messages.each do |msg|
          %li= msg

  = f.file_field :image

  .actions
    = f.submit 'Save'
