!!!
%html
  %head
    %title MercuryEditor
    = csrf_meta_tags
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_tag "$(document).ready(function() { mercuryEditor = new MercuryEditor() });"
  %body

    = yield
